source https://api.nuget.org/v3/index.json
framework: net6.0
storage: none

nuget Dapper.FSharp
nuget Feliz.Bulma.DateTimePicker
nuget Fsharp.Core ~> 6
nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 6
nuget Fable.Remoting.Giraffe
nuget Npgsql
nuget Saturn
nuget Expecto

nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Mocha
nuget Fable.Remoting.Client
nuget Feliz.Bulma
nuget Feliz.Plotly
nuget Fulma

nuget Fake.Core.Target
nuget Farmer